@import "~bootstrap/dist/css/bootstrap.css";
.app-top{
  margin-top: 1em;
}

.space-item{
  margin-left: 5px;
}

.center-content{
  margin: auto;
}

.chose-active{
  border: 4px solid black;
  color: white;
}


